/* shamelessly inspired by the big interwebs */

html {
    font-family: Helvetica, Arial, sans-serif;
    background: #EEE;
    color: #333;
}

#topbar {
    margin:1em;
}

#topbar h1 {
    font-size:2.8em;
    text-align:center;
    letter-spacing: 0.1em;
    word-spacing:0.2em;
 }

#topbar a {
    text-decoration:none;
    color:#333;
}

a {
    text-decoration:none;
    color:#333;
}

li {
    margin:0.5em;
}

li.none {
    list-style-position:outside;
    list-style: none;
}

#underbar {
    text-align:center;
    margin-top:-0.6em;
    font-style:italic;
    font-size:0.8em;
}

a:link {text-decoration:none; color:#111;}
a:visited {text-decoration:none;}
a:hover {text-decoration:underline;}
a:active {text-decoration:underline;}


#wrap {
    width: 600px;
    margin:1em auto;
#    margin-top:-2em;
}


#wrapper {
    width: 600px;
    height:600px;
    background: #FFF;
    padding: 1em;
    margin: 1em auto;
    min-height: 300px;
    border-top: 4px solid;
    box-shadow: 0 2px 10px rgba(0,0,0,1);
}


h1 {
    margin-top: 0;
    line-height: 1.3em;
}

h2 {
    font-size: 1.5em;
    margin: 0em 0 0em;
}

div,
p {
    line-height: 1.6em;
}

section div {
    padding: 1em;
    background: #FFF;
    border-radius: 2px;
    outline: none;
#    border: 2px solid black;
}

section div:focus {
    background: #FFFFFF;
}






/* tell the container's children to float left: */
.container > * {
    float:left;
    margin-right:5px;
}

/* clearfix, makes sure that the container's children floats are cleared */

.container {
    *zoom:1 /* for IE */
}

.container:before,
.container:after {
    content: " ";
    display: table;
}

.container:after {
    clear: both;
}

/* end clearfix*/
